body {
  font-family: 'Acme', sans-serif !important;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px;
}

header ul li {
    display: inline;
    margin-left: 20px;
    font-size: 1.2em;
}

header img {
  width: 120px;
  height: auto;
}

.header_left {
  margin-top: 10px;
}

.a_tag a {
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, rgb(150, 150, 150) 50%);
  background-position: 0 0;
  background-size: 200% auto;
  transition: .3s;
  color: #000;
}

.a_tag a:hover {
  background-position: -100% 0;
  color: #fff;
}

section::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#fff;  /* 背景カラー */
  z-index: 9999;  /* 一番手前に */
  pointer-events: none;  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
  opacity: 0;  /* 初期値 : 透過状態 */
  -webkit-transition: opacity .8s ease;  /* アニメーション時間は 0.8秒 */
  transition: opacity .8s ease;
}

section.fadeout::after {
  opacity: 1;
}

section.fadeout section {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}


.top {
  background-image: url("./img/top_page.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.content {
  padding-top: 170px;
  padding-left: 120px;
}

.content p {
  font-size: 3rem;
  font-weight: 800;
}

.content li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 500;
}

.content_top {
  text-align: center;
  padding: 30px;
}

.title {
  margin-bottom: 30px;
}

h2 {
  font-size: 3rem;
  font-weight: 600;
}

.profile_introduction {
  display: flex;
  justify-content: center;
}

.introduction {
  width: 40%;
  height: auto;
  margin: 10px 20px;
  text-align: left;
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);
}

.name {
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 5px solid #000;
}

.introduction_coment {
  font-family: 'Kosugi Maru', sans-serif;
  padding-top: 10px;
  font-size: 1.2rem;
  font-weight: 300;
}

.profile_photo {
  width: 40%;
  height: auto;
  margin: 0 20px;
}

.profile_photo img {
  width: 80%;
  height:auto;
  border-radius: 50%;
}

.skill_introduction {
  display: flex;
  justify-content: center;
}

.skill_photo {
  width: 40%;
  height: auto;
  margin: 0 20px;
}

.skill_photo img {
  width: 80%;
  height:auto;
  border-radius: 100%;
}

.skill_detail {
  display: flex;
  text-align: left;
  width: 40%;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);
}

.skill_image img {
  width: 20%;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}

.collection {
  font-family: 'Kosugi Maru', sans-serif;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);
}

.portfolio_introduction {
  width: 40%;
  height: auto;
  margin: 30px;
}

.portfolio_introduction img {
  width: 100%;
  height: auto;
}

.portfolio_introduction p {
  margin-top: 20px;
  font-size: 1.3rem;
  font-weight: 400;
}

/* モーダル作成 */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: none;
}

.fb {
  position: relative;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
}

.modal_wrapper {
  position: fixed;
  display: flex;
  margin: 50px;
  background-color: #fff;
  height: 85%;
  overflow-y: scroll;
}

.wrapper_img {
  width: 100%;
  height: auto;
  padding: 40px;
}

.wrapper_img img {
  width: 100%;
  height: auto;
}

.wrapper_introduction {
  margin: 15px;
}

.services_content {
  font-family: 'Kosugi Maru', sans-serif;
  padding: 10px;
  display: flex;
}

.services_information {
  background-color: #EEEEEE;
  border: 3px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);
  margin: 20px;
  padding: 20px;
  width: 30%;
  height: auto;
}

.services_information img {
  width: 150px;
  height: auto;
}

.services_title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px 0;
}

.services_text {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 300;
}

.contact {
  font-family: 'Kosugi Maru', sans-serif;
  background-color: #CEF9DC;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.6);
  margin-right:  80px;
  margin-left:  80px;
  padding: 20px;
}

.form_text {
  margin: 20px;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  /* padding-right: 12rem;
  padding-left: 12rem; */
}

.form_label {
  width: 40%;
  text-align: left;
}

.form_input {
  width: 60%;
  border-bottom: 2px solid #AAAAAA;
}

.form_text label {
  margin-right: 50px;
}

.form_text input {
  background-color: #CEF9DC;;
  border: none;
  width: 100%;
}

.inquiry {
  margin: 20px;
  font-size: 1.5rem;
  font-weight: 400;
}

.inquiry_message {
  border: 2px solid #AAAAAA;
}

textarea {
  background-color: #CEF9DC;;
  border: none;
  width: 100%;
  height: 20rem;
}

form button {
  padding: 20px;
  background-color: #00ECFF;
  border-radius: 10px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  width: 40%;
}

footer {
  text-align: center;
  padding: 30px;
}

@media screen and (max-width:781px){
header {
  flex-direction: column;
  text-align: center;
}

header ul {
  margin: 0;
}

header ul li {
  margin: 0 auto;
}

.header_right {
  width: 100%;
  margin: 0 auto;
  display: table;
  position: relative;
  margin-right: auto;
  padding: 0 10px;
}

.header_left {
  width: 100%;
}

.profile_introduction {
  flex-direction: column-reverse;
}

.introduction{
  width: 100%;
  margin: 20px auto;
}

.profile_photo {
  width: 100%;
  margin: 0 auto;
}

.profile_photo img {
  width: 350px;
  height: auto;
}

.skill_introduction {
  flex-direction: column;
}

.skill_photo {
  width: 100%;
  margin: 20px auto;
}

.skill_photo img {
  width: 350px;
  height: auto;
}

.skill_detail {
  width: 100%;
  margin: 0 auto;
}

.collection {
  flex-direction: column;
}

.portfolio_introduction {
  width: 80%;
  margin: 20px auto;
}

.services_content {
  flex-direction: column;
}

.services_information {
  width: 100%;
  margin: 20px auto;
}

.contact {
  width: 100%;
  margin: 0 auto;
}

.form_text {
  flex-direction: column;
}

.form_label {
  width: 100%;
}

.form_input {
  width: 100%;
}

textarea {
  height: 10rem;
}
}
